body {
  background-color: #D9A066;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  color: #663931;
  font-family: "Nova Square", sans-serif;
}

.nav {
  padding: 1rem 0rem;
  background-color: #EEC39A;
  height: 3rem;
  flex: initial;
}

.nav-container {
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: center;
  margin: auto;
}

.nav-links {
  margin-left: auto;
  font-size: 3rem;
}

.nav-links a {
  text-decoration: none;
  padding: 0.5rem;
}

a, a.visited {
  color: #663931;
  text-align: center;
}

.nav-logo {
  display: block;
  max-height: 3rem;
}

.header {
  background-color: #EEC39A;
}

img.logo {
  display: block;
  max-width: 80%;
  margin: auto;
}

.news {
  margin-top: 5rem;
  padding: 3rem;
  max-width: 1000px;
  margin: auto;
  border-top: 3px solid #663931;
}

.content {
  padding: 3rem;
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
  margin: auto;
  padding: 0rem;
}

h2 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 0;
}

.warn {
  text-align: center;
  max-width: 60%;
  margin: auto;
  color: #C33231;
}

@media (max-width: 767px) {
  .hide {
    display: none;  
  }
}

.hcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-auto-flow: row;
  max-width: 62rem;
  margin: auto;
}

.hitem {
  width: 20rem;
  background-color: #EEC39A;
  height: 15rem;
  border-radius: 1.5rem;
  border: 0.25rem solid #663931;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.hitem h2 {
  min-width: 100%;
  border-bottom: 0.25rem solid #663931;
}

h1.title {
  font-size: 5rem;
  min-width: 100%;
  max-width: 100%;
  background-color: #EEC39A;
}

.side {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.docs {
  width: 70%;
  display: inline-block;
  border-left: 0.25rem solid #653931;
}

.docs * {
  padding-left: 2rem;
  padding-right: 2rem;
}

.small {
  font-size: 1rem;
  padding: 0;
}

pre {
  background-color: #EEC39A;
  border-radius: 1rem;
  padding: 1rem;
}

h3 {
  text-align: center;
  margin: 0;
}

p.desc {
  margin-top: 0;
}

.post-title {
  text-align: center;
}

.post-desc {
  text-indent: 40px;
  font-size: 1.6rem;
}

.post-sign {
  text-indent: 40px;
  text-align: right;
  font-size: 1.6rem;
}
